{% extends 'base.html.twig' %}

{% block head_title %}
	{{ step }}
{% endblock %}

{% block title %}
	{{ step }}
{% endblock %}

{% block content %}
	{{ dump(collection) }}
	<table>
		<tr>
			<th>
				Key
			</th>
			<th>
				Value
			</th>
			<th>
				[Key]
			</th>
		</tr>
		{% embed '@MazariniTools/iterative.html.twig' with {'items': collection} %}
			{% block item_container %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ item }}</td>
					<td>{{ collection[key] }}</td>
				</tr>
			{% endblock item_container %}
		{% endembed %}
	</table>
	{{ dump(collection) }}
{% endblock %}
