{% extends '@MazariniTest/step/layout.html.twig' %}

{% block content %}
	{{ dump(data.links) }}
	<table>
		<tr>
			<th>
				Key
			</th>
			<th>
				Url
			</th>
			<th>
				Class
			</th>
			<th>
				[Key].url
			</th>
			<th>
				[Key].class
			</th>
		</tr>
		{% embed '@MazariniTools/iterative.html.twig' with {'items': data.links} %}
			{% block item_container %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ item.url }}</td>
					<td>{{ item.class }}</td>
					<td>{{ data.links[key].url }}</td>
					<td>{{ data.links[key].class }}</td>
				</tr>
			{% endblock item_container %}
		{% endembed %}
	</table>
	{{ dump(data.links) }}
{% endblock %}
