{% extends 'base.html.twig' %}

{% block title %}Grand
{% endblock %}

{% block main %}
	<h1>Grand</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>LabelGrand</th>
				<td>{{ grand.labelGrand }}</td>
			</tr>
			<tr>
				<th>Id</th>
				<td>{{ grand.id }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_grand_index') }}">back to list</a>

	<a href="{{ path('app_grand_edit', {'id': grand.id}) }}">edit</a>

	{{ include('grand/_delete_form.html.twig') }}
{% endblock %}
