{% extends '@MazariniTools/layout.html.twig' %}

{% block button %}
	{% for page in 1..pagination.lastPage %}
		{% if page == pagination.currentPage %}
			<a class="btn btn-outline-dark disabled" href="{{ path(routes.page, { 'id': parent_id, 'page': page}) }}">{{ page }}</a>
		{% else %}
			<a class="btn btn-outline-dark" href="{{ path(routes.page, { 'id': parent_id, 'page': page}) }}">{{ page }}</a>
		{% endif %}
	{% endfor %}
{% endblock %}

{% block main %}
	<table class="table">
		<thead>
			<tr>
				{% block table_title %}{% endblock %}
				<td colspan="{{ action }}">Action</td>
			</tr>
		</thead>
		<tbody>
			{% for entity in pagination.entities %}
				<tr>
					{% block table_data %}{% endblock %}
					{% block action %}
						{% block show %}
							<td>
								<a class="btn btn-primary btn-sm" href="{{ path(routes.show, {'id': entity.id}) }}">Show</a>
							</td>
						{% endblock %}
						{% block edit %}
							<td>
								<a class="btn btn-primary btn-sm" href="{{ path(routes.edit, {'id': entity.id}) }}">Edit</a>
							</td>
						{% endblock %}
					{% endblock %}
				</tr>
			{% else %}
				{% block not_found %}
					<tr>
						<td colspan="{{ data + action }}">no records found</td>
					</tr>
				{% endblock %}
			{% endfor %}
		</tbody>
		{% block new %}
			<tfoot>
				<tr>
					<td colspan="{{ data + action - 1 }}"></td>
					<td>
						<a class="btn btn-primary btn-sm" href="{{ urls.new }}">New</a>
					</td>
				</tr>
			</tfoot>
		{% endblock %}
	</table>
{% endblock %}
